In [44]:
from rdflib import Graph

# Create a Graph
#g = Graph().parse("../rdf/movingImageArchiveEnriched.rdf")
g = Graph().parse("dataset.ttl")

## We can use the website to retrieve the number of items per 

According to the [Moving Image Archive website](https://movingimage.nls.uk/search?subject=37), the current total number of records associated to the subject Agriculture is 410. 

<img src="../images/mia-website-agriculture.png" width="50%">

The command line grep can be used to identify text in the dataset. The parameter -n4 enables to retrieve 4 lines per result.

We can have an idea of the occurrences in the text of the work Agriculture. However, note that the work may appear in several fields, not only in 653 MARC field.

<img src="../images/grep-mia.png">

We can retrieve the number of occurrences using the command line wc -l

<img src="../images/grep-mia-wc.png">

### Let's check how many property dc:subject contains the text "Agriculture"

In [45]:
print('##### check Agriculture subject:')
    
# Query the data in g using SPARQL
q = """
    SELECT ?subject (COUNT(?s) as ?count) 
    WHERE { ?s dc:subject ?subject . FILTER  regex(str(?subject),"Agriculture")} 
    GROUP BY ?subject
    ORDER BY DESC(?count)
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(str(r["subject"]) + " " + str(r["count"]))

##### check Agriculture subject:
Agriculture 379

### Let's check the number of items containing the subject Gaelic

In [46]:
print('##### total number of items containing a property dc:subject with the text Gaelic:')
    
# Query the data in g using SPARQL
q = """
    SELECT (COUNT(?subject) as ?total) 
    WHERE { ?s dc:subject ?subject . FILTER regex(?subject, "Gaelic")} 
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(str(r["total"]))

##### total number of items containing a property dc:subject with the text Gaelic:
1943

### Group by author

In [47]:
print('##### group by authors:')
    
# Query the data in g using SPARQL
q = """
    SELECT ?author (COUNT(distinct ?s) as ?count) 
    WHERE { ?s schema:author ?author} 
    GROUP BY ?author
    HAVING (count(distinct ?s) > 20)
    ORDER BY DESC(?count)
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(str(r["author"]) + " " + str(r["count"]))

##### group by authors:
https://example.org/organization/templarfilms 318
https://example.org/organization/filmsofscotlandcommittee 166
https://example.org/organization/campbellharperproductions 130
https://example.org/organization/scottishamateurfilmfestivalsaff 117
https://example.org/author/russellstanleylivingstone 63
https://example.org/author/cocozzaenrico 62
https://example.org/author/elderjohnc 58
https://example.org/author/colonelarthureirvineandrichardirvinecollection 50
https://example.org/author/nairnjamess 49
https://example.org/author/taitmargaret 48
https://example.org/author/glasgowcorporation 46
https://example.org/organization/scottishfilms 45
https://example.org/author/annandlouise 39
https://example.org/author/harperalanjames 39
https://example.org/author/taggartnan 39
https://example.org/author/cooperhenry 38
https://example.org/author/jayronaldl 37
https://example.org/organization/greensfilmservice 37
https://example.org/organization/ifascotland 37
https://example.org/organization/elderdalrympleproductions 36
https://example.org/author/mickeldouglas 35
https://example.org/author/dicksonlouis 32
https://example.org/author/ogamfilms 29
https://example.org/author/grigormurray 28
https://example.org/organization/peliculafilms 27

### Let's check how many resources are linked to a particular author

In [52]:
# Query the data in g using SPARQL
q = """
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    SELECT (count(distinct ?s) as ?total)
    WHERE {?s schema:author <https://example.org/organization/ifascotland>} 
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["total"])

37

In [56]:
# Query the data in g using SPARQL
q = """
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    SELECT ?name
    WHERE {?s schema:author <https://example.org/organization/ifascotland> . ?s schema:name ?name} 
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["name"])

WHY SCOTLAND, WHY EAST KILBRIDE
AMAZING MOMENTS OF THE GREAT TRACTION ENGINES, the
DRAM LIKE THIS, a
COUNTY ON THE MOVE
LIVINGSTON - A TOWN FOR THE LOTHIANS
MACKINTOSH
DUNA BULL, the
LIVING IN SCOTLAND / SMITHS IN SCOTLAND, the
KIND OF SEEING: The Colour of Scotland, a
SONGS OF SCOTLAND
SEA CITY - GREENOCK
ONE DAY IN IRVINE
IN GREAT WATERS
LOCH LOMOND
WATER OF LIFE, the
WATER, WATER EVERYWHERE
ERSKINE BRIDGE, the
LINE TO SKYE, the
CONSEQUENCES
SETTLED OUT OF COURT: Children's Hearings in Scotland
LOOK TO THE SEA: The Marine Laboratory Aberdeen, Its Work and Its People
EDINBURGH ON PARADE
GARDENS BY THE SEA
COME AWAY IN
WALKABOUT EDINBURGH
GRAND MATCH, the
STONE IN THE HEATHER, a
SPIRIT OF SCOTLAND, the
KH-4
LINE FOR ALL SEASONS, a
DISAPPEARING ISLAND, the
GET THERE SAFELY
FALLS THE SHADOW
DIAMONDS WERE FOREVER: A Celebration of Glasgow Steam
ACRE OF SUNDAYS, an
CHAIRS
SHELL SHOCK