In [6]:
from rdflib import Graph

# Create a Graph
g = Graph().parse("rdf/movingImageArchiveEnriched.rdf")

### Number of classes

In [7]:
print('##### Number of classes:')

# Query the data in g using SPARQL
q = """
    SELECT (count(distinct ?class) as ?classes)
    WHERE {
        ?s a ?class .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["classes"])

##### Number of classes:
4

### Classes

In [9]:
print('##### Classes:')

# Query the data in g using SPARQL
q = """
    SELECT distinct ?class
    WHERE {
        ?s a ?class .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["class"])

##### Classes:
http://schema.org/VideoObject
http://www.europeana.eu/schemas/edm/Place
http://schema.org/Place
http://schema.org/Organization

### Number of properties

In [10]:
print('##### Number of properties:')

# Query the data in g using SPARQL
q = """
    SELECT (count(distinct ?prop) as ?properties)
    WHERE {
        ?s ?prop ?o .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["properties"])

##### Number of properties:
18

### Properties

In [12]:
print('##### Properties:')

# Query the data in g using SPARQL
q = """
    SELECT distinct ?prop
    WHERE {
        ?s ?prop ?o .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["prop"])

##### Properties:
http://schema.org/abstract
http://example.org/details
http://schema.org/duration
http://www.w3.org/1999/02/22-rdf-syntax-ns#type
http://schema.org/name
http://schema.org/identifier
http://schema.org/sourceOrganization
http://schema.org/creditText
http://example.org/subjects
http://schema.org/datePublished
http://purl.org/dc/terms/spatial
http://www.w3.org/2004/02/skos/core#prefLabel
http://www.w3.org/2003/01/geo/wgs84_pos#long
http://schema.org/creator
http://www.w3.org/2003/01/geo/wgs84_pos#lat
http://www.w3.org/2002/07/owl#sameAs
http://schema.org/logo
http://schema.org/url

### Number of external links

In [15]:
print('##### Number of owl:sameAs properties:')
    
# Query the data in g using SPARQL
q = """
    SELECT (count(distinct ?sameAs) as ?total)
    WHERE {
        ?p owl:sameAs ?sameAs .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["total"])

##### Number of owl:sameAs properties:
75

### Number of triples

In [16]:
print('##### Number of triples:')
    
# Query the data in g using SPARQL
q = """
    SELECT (COUNT(*) as ?triples) 
    WHERE { ?s ?p ?o } 
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["triples"])

##### Number of triples:
182742